---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import HeroSection from '../components/HeroSection.astro';
import MenuSection from '../components/MenuSection.astro';
import GaleriaSection from '../components/GaleriaSection.astro';
import ReservasSection from '../components/ReservasSection.astro';
import UbicacionSection from '../components/UbicacionSection.astro';
import FooterSection from '../components/FooterSection.astro';
---

<BaseLayout>
  <Nav />
  <main>
    <HeroSection />
    <MenuSection />
    <GaleriaSection />
    <ReservasSection />
    <UbicacionSection />
  </main>
  <FooterSection />
</BaseLayout>
